<%= form_with scope: :article, url: articles_path,  local: true do |form| %>
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :Age %><br>
    <%= form.text_area :age %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>